.site-nav {
  background: #020617;
}

.nav-lista {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 10px 0;
}

.nav-lista a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.nav-lista a:hover {
  color: #93c5fd;
}
