@import url("header.css");
@import url("navbar.css");
@import url("banner.css");
@import url("home.css");
@import url("sobre.css");
@import url("aprender.css");
@import url("contato.css");
@import url("footer.css");
@import url("button.css");
@import url("acessibilidade.css");
@import url("componentes.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f8fafc;
  color: #1f2933;
}
